.container {
    display: flex;
    margin: auto;
    margin-top: 3em;
    width: 60%;
    background-color: white;
}

.col {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

img{
    width: 20em;
    height: 20em;
    margin: auto;
}

p {
    padding: 18px;
    width: 100%;
    margin: 0;
    border-bottom: 2px solid white;
    color: white;
    background-color: #009fb7;
}

.field{
    display: flex;
    width: 100%;
}