<div class="conatiner">
    <form #form="ngForm">  
        <div>
            <span class="p-float-label">
                <p-password id="password" 
                    [toggleMask]="true" 
                    ngModel name="password" 
                    required
                    #password="ngModel"
                >
                </p-password>
                <label for="password">Password</label>
            </span>
            <div *ngIf="!password.valid && password.dirty" class="help-message">
                <small *ngIf="password.control.errors?.required; else invalidPassword">
                    *Password is required.
                </small>
                <ng-template #invalidPassword>
                    <small>
                        *Password is invalid.
                    </small>
                </ng-template>
            </div>
        </div>
        
        <p-button [disabled]="!form.valid" type="submit" label="Submit"></p-button>
    </form>
</div>