<p-dialog header="Employee Profile" (onHide)="onClose()" [(visible)]="visible" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">

    <div class="col">
        <div class="row">
            <p>Name</p>
            <p>{{ employee.name }}</p>
        </div>
        <div class="row">
            <p>Username</p>
            <p>{{ employee.username }}</p>
        </div>
        <div class="row">
            <p>Age</p>
            <p>{{ employee.age }}</p>
        </div>
        <div class="row">
            <p>Gender</p>
            <p>{{ employee.gender }}</p>
        </div>
        <div class="row">
            <p>Email Address</p>
            <p>{{ employee.email_address }}</p>
        </div>
        <div class="row">
            <p>Mobile No.</p>
            <p>{{ employee.mobile_no }}</p>
        </div>
        <div class="row">
            <p>Role</p>
            <p>{{ employee.role }}</p>
        </div>
        <div class="row">
            <p>Status</p>
            <p>{{ employee.status }}</p>
        </div>
    </div>

    
</p-dialog>