<div class="container">
    <h1>Reservations</h1>
    <div class="table-bg">
        <p-table 
            [value]="reservations" 
            [paginator]="true"
            [rows]="3"
            [scrollable]="true"
            scrollDirection="horizontal"
            [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '100rem' }"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[5, 10, 20]"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="booking_id" style="width:20%">Booking ID<p-sortIcon field="booking_id"></p-sortIcon></th>
                    <th pSortableColumn="customer_name" style="width:20%">Customer Name<p-sortIcon field="customer_name"></p-sortIcon></th>
                    <th pSortableColumn="parking_slot_no" style="width:20%">Parking Slot No<p-sortIcon field="parking_slot_no"></p-sortIcon></th>
                    <th pSortableColumn="in_date" style="width:20%">In Date<p-sortIcon field="in_date"></p-sortIcon></th>
                    <th pSortableColumn="in_time" style="width:20%">In Time<p-sortIcon field="in_time"></p-sortIcon></th>
                    <th pSortableColumn="out_date" style="width:20%">Out Date<p-sortIcon field="out_date"></p-sortIcon></th>
                    <th pSortableColumn="out_time" style="width:20%">Out Time<p-sortIcon field="out_time"></p-sortIcon></th>
                    <th pSortableColumn="hours_spent" style="width:20%">Hours Spent<p-sortIcon field="hours_spent"></p-sortIcon></th>
                    <th pSortableColumn="charges" style="width:20%">Charges<p-sortIcon field="charges"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-reservations>
                <tr>
                    <td style="width:20%">{{reservations.booking_id}}</td>
                    <td style="width:20%">{{reservations.name}}</td>
                    <td style="width:20%">{{reservations.parking_slot_no}}</td>
                    <td style="width:20%">{{reservations.in_date}}</td>
                    <td style="width:20%">{{reservations.in_time}}</td>
                    <td style="width:20%">{{reservations.out_date}}</td>
                    <td style="width:20%">{{reservations.out_time}}</td>
                    <td style="width:20%">{{reservations.hours}}</td>
                    <td style="width:20%">{{reservations.charges | currency: 'INR'}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>